html, body {
  margin: 0px;
  height: 100%;
}

#sidebar {
	grid-area: sidebar;
	overflow-y: scroll;
}

#content {
	grid-area: content;
}

.header {
	grid-area: header;
	font-family: Georgia, sans-serif
}

.footer{
  grid-area: footer;
}

.sideBarItem{
	max-height: 50px;
	max-width: 50px;
	padding:5px;
}

.sideBarItem img{
	max-height: 45px;
	max-Width:44px;
}

.colourPalette{
	grid-area: colourP;
	display:flex;
	flex-direction:grid;
	flex-flow: wrap;
}

.options{
	grid-area: options;
	padding: 15px;
}

.colourSwatches{
	box-sizing: border-box;
	width: 40px;
	height: 40px;
	max-height: 40px;
	max-width: 40px;
	margin: 5px;
}


	.wrapper {
		display: grid;
		height: 100%;
		grid-template-columns: 70px 430px  minmax(500px, 1fr);
		grid-template-rows: 35px minmax(500px, 1fr) 160px;
		grid-template-areas:
               "header header header"
				"sidebar content content"
                "colourP colourP options";
		background: linear-gradient(#8de3fc, #5d6162, #8de3fc);
		color: linear-gradient(#8de3fc, #5d6162, #8de3fc);
	}
.box {
  background: linear-gradient(#8de3fc, #5d6162, #8de3fc));
  color: linear-gradient(#8de3fc, #5d6162, #8de3fc);;
  font-size: 150%;
}

.header {
  background: linear-gradient(#5d6162, #8de3fc);
}
